body a div a h1 {
	color: black;
}

body a div a {
	width: 10px;
}

body a div img {
	display: auto;
}

div {
	height: 100px;
	width: 10px;
}

body a {
	height: 100px;
	width: 100px;
}

div div {
	color: white;
}

body {
	background: #111;
	color: #e11;
}

body a div {
	height: 30px;
}

body a div span {
	height: 1px;
}

